html {
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
}

body {
    background-color: #000AFF;
    color: white;
/*    margin-left: 2%;*/
    font-family: "Phase", Arial, serif;
            margin-top: 50px;

    
}

#submitButton {
      background-color: white; 
  border: none;
  color: #000AFF;
/*  padding: 15px 35px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
font-family: "Phase", Arial, serif;
  font-size: 40px;
}

#submitButton:hover {
    text-decoration-style: none;
    background-color: #03fff8;
    transition-duration: 0.5s;
}

img {
    display: none;
}

a:visited {
    text-decoration: none;
}

a {
    text-decoration: none;
}


@font-face {
    font-family: "Phase";
    src: url("Phase.woff") format("woff"),
    url("Phase.otf") format("truetype"),
    url("Phase.woff2") format("woff2");
}

.intro {
    margin-top: 10%;
    font-size: 50px;
    font-family: "Phase", Arial, serif;
}

.line-1 {
    position: relative;
    width: 24em;
    margin-top: 10%;
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
}

.line-2 {
    display: inline;
}

/*
#typewriter {
    margin: 0;
    font-size: 50px;
    color: white;
    font-family: "Phase", Arial, serif;
}

#typewriter:after {
    content: "|";
    animation: blink 500ms linear infinite alternate;
}
*/

#temporary {
    margin: 0;
    font-size: 50px;
    color: white;
    font-family: "Phase", Arial, serif;
}


@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


input[type=text] {
    display: inline-block;
    background-color: #000AFF;
    color: white;
    font-size: 40px;
    font-family: "Phase", Arial, serif;
    border: 1px solid;
}

input[type=submit] {
    background-color: white;
    color: white;
}



.step-wrapper {
/*    display: inline-block;*/
}

.content {
    border: 1px solid white;
    font-size: 30px;
    width: 90%;
    height: 400px;
    overflow: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
}

.content::-webkit-scrollbar:vertical {
    width: 15px;
}

.content::-webkit-scrollbar {
    -webkit-appearance: none;
}

.content::-webkit-scrollbar-thumb {
/*    border-radius: 8px;*/
    border: 1px solid white; /* should match background, can't be transparent */
    background-color: #000AFF;
}

.choices {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: white;
    color: #000AFF;
    font-size: 30px;
    padding: 60px;
    margin-bottom: 10px;   
}

.choices:hover {
    text-decoration-style: none;
    background-color: #03fff8;
    transition-duration: 1s;
}

.titles {
    font-size: 50px;
}

.title {
    font-size: 50px;
        margin-left: 2%;


}

p {
        margin-left: 2%;

}

#showmoremessage {
    font-size: 50px;
    font-style: italic;
    margin: 50px;
}

/* Animation */

/*
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}
*/

.typewriter {
	display: inline-block;

    margin: 0;
    color: white;
    font-family: "Phase", Arial, serif;
    font-size: 50px;

}

#typewriter-text {
    display: inline-block;
  	overflow: hidden;
 	animation: typing 2s steps(30, end);

    white-space: nowrap;
/*    border-right: 4px solid white;*/
    box-sizing: border-box;
        margin-left: 2%;

}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: white; 
    }
}

.nameForm {
      animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

@keyframes cssAnimation {
  to   { visibility: visible; }
}


#iWantToKnow {
    visibility: hidden;
}

.wrapper {
    visibility: hidden;
}

#greetings {
    visibility: hidden;


}

#categories {
        visibility: hidden;
        margin-left: 2%;

}

.step-wrapper {
        margin-left: 2%;

}

#data {
    align-content: center;

}

#showmoremessage {
    text-decoration: underline;
}